body {
    background-image: url("../images/streetfighterbg.jpg")
}

h1 {
    color: orange
}

#arena {
    height: 300px
}

#roster{
    height: 300px;
    border-style: double;
    padding: 9px 0

}

#label1 {
    display: none
}

#label2 {
    display: none
}

#VS {
    display: none
}

#fight {
    display: none
}

#EtD {
    display: none
}

#hidden {
    display: none
}

#rivals {
    height: 300px;
    padding: 9px 0;
}