#arena {
    height: 300px
}

#roster{
    height: 300px
}

#label1 {
    display: none
}

#label2 {
    display: none
}

#VS {
    display: none
}

#EtD {
    display: none
}

#hidden {
    display: none
}